# Cache for eggs required by setuptools itself, per `setup_requires` and
# `tests_require` directives.
/.eggs/

# Created by `setup.py test`:
/src/datapunt_config_loader.egg-info/

# Created by `setup.py dist`:
/dist/

# Created by `make testcov`:
/.coverage

# Virtual environments:
/.venv/
